body{
   background-image:url('./Image/bw\ waldothumb.jpg');
   background-repeat:repeat;
   font-family: 'Optima';
   font-style:normal;
   color:white;
}


audio{
   width:10%;
   margin-left:15px;
}


marquee{
   color:white;
}

p{
   color:white;
   font-family: 'Optima';
   font-size:30px;
   text-shadow: -1px 1px 2px #000,
   1px 1px 2px #000,
   1px -1px 0 #000,
   -1px -1px 0 #000;
   line-height: 50px;
   margin-top:0;
}


#logo{
   width:12%;
   height:20%;
}

#logo2{
   width:350px;
   margin-bottom:40px;
}

.introduction{
   margin-top:30px;
}

.game-start{
   display:column;
   text-align:center;
}

#start-button{
   padding: 10px 20px;
   border-radius:2em;
   font-size:20px;
   font-family: 'Optima';
}

.start{
  display:flex;
  width:1000px;
  justify-content:space-evenly;
}

#canvas{
  position:relative;
  top:15px;
}

#img{
   width:20%;
}

#wally-friend{
   width:200px;
}

#btns{
   display:flex;
   width:300px;
   justify-content:space-between;
}

#btns button {
   width: 200px;
   height:30px;
   border-radius:35px;
   position:relative;
   top:20px;
   margin-right:10px;
   font-weight:lighter;
   font-size:15px;
   font-family:'Courier'
}


.instruction{
   width:440px;
   line-height:20px;
   margin-bottom:0;
   margin-top:15px;
}


#timer{  
   position:absolute;
   right:20px;
   top:45px;
   font-size:40px;
}

#ta-da{
   font-size:30px;
   width:100%;
}


.pop-up{
   position:absolute;
   top:50%;
   left:40%;
   z-index:1;
   border:1px solid black;
   border-radius:10px;
   width:230px;
   text-align:center;
   transition:200ms ease-in-out; 
}

.hide{
   display:none;
}

.active{
   display:block;
}

.header{
   padding:5px 15px;
   display:flex;
   margin-left:85%;
}

#waldo-head{
   width:40%;
   margin-bottom:5px;
}

#close-btn{
   margin-top:5px;
   cursor:pointer;
   border:none;
   outline:none;
   background:none;
}

#nf-body{
   display:column;
   align-items:center;
   left:50%;
}

